#title {
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    font-family: "Copperplate", "Courier New", serif;
}

img {
    width: 1200px;
    height: auto;
}

p {
    font-size: 18px;
    font-family: "Verdana", "Monaco", sans-serif;
}

li {
    font-size: 18px;
    font-family: "Verdana", "Monaco", sans-serif;

}